node_modules/
__pycache__/
*.pyc
.env
screenshots/
*.log
.DS_Store
check_*.py
test_*.py
replace_*.py
backend/data/processed/
notify_config.json
frontend/data/notify_config.json

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
